In [ ]:
To perform #To import Exploratory Data Analysis (EDA) on the insurance dataset, we first need to import the necessary libraries and load the dataset.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the dataset
insurance_df = pd.read_csv('insurance.csv')

In [3]:
#once the library is already imported tasks are done;

In [5]:
# 1. Understanding the structure of the dataset

# We can use the 'shape' and 'info' methods to get an idea of the number of rows and columns in the dataset and the data types of each column.
# Get the shape of the dataset
print(insurance_df.shape)

# Get information about the dataset
insurance_df.info()

(1338, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 57.6+ KB

In [6]:
# results  the dataset contains 1338 rows and 7 columns. The columns have different data types - 2 columns are of type float64, 2 columns are of type int64, and 3 columns are of type object.

In [7]:
# 2.Checking for missing values

# We can use the 'isnull' method to check if there are any missing values in the dataset.

# Check for missing values
insurance_df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [8]:
# results  there are no missing values in the dataset.

In [9]:
# 3. Descriptive statistics

# We can use the 'describe' method to get descriptive statistics for the numerical columns in the dataset.

# Get descriptive statistics for numerical columns
insurance_df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [11]:
# results statisctical descriptive of data.
# only three tasks performed in EDA I.E 
# checking for missing data
# checking the structure of data
# describing the descriptive statistics for numerical columns