In [1]:
# To perform EDA and logistic regression on the bank churn data, we first need to load the data and import the necessary libraries.

In [10]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Loading data
bank_df = pd.read_csv('Churn_Modelling.csv')

In [5]:
# To perform Explanatory Data Analysis(EDA)
# We can begin the EDA process by looking at the shape and summary statistics of the dataset.

In [6]:
# Shape of the dataset
print("Shape of the dataset: ", bank_df.shape)

# Summary statistics
bank_df.describe()

Shape of the dataset:  (10000, 14)

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [7]:
# results # We can see that the dataset contains 10,000 rows and 14 columns. 
# The Exited column is our target variable, which indicates whether a customer has churned or not. 
# We can also see that about 20% of the customers in the dataset have churned.

#Next, we can visualize the distribution of the target variable and explore the relationship between the target variable and other features.

In [8]:
# Visualizing the distribution of the target variable
sns.countplot(x='Exited', data=bank_df)

# Exploring the relationship between the target variable and other features
sns.countplot(x='Geography', hue='Exited', data=bank_df)
sns.countplot(x='Gender', hue='Exited', data=bank_df)
sns.countplot(x='NumOfProducts', hue='Exited', data=bank_df)
sns.countplot(x='HasCrCard', hue='Exited', data=bank_df)
sns.countplot(x='IsActiveMember', hue='Exited', data=bank_df)

<class 'NameError'>: name 'sns' is not defined